<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenida - La Maison des Fleurs</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="fondo-perfumeria-index">
    <div class="container">
        <h1>PERFUMERIA</h1>
        <hr class="separador-perfumeria">
        <p>La maison des fleurs</p>

        <div class="button-container">
            <a href="/login" class="button">CUENTA</a>
            <a href="/inicio" class="button">PERFUMERIA</a>
        </div>
    </div>
</body>
</html>